
.cardWrapper {
  background: linear-gradient(#ffffff11, rgba(255, 255, 255, 0.03));
  backdrop-filter: blur(5px);
  /* margin: 1.2vh; */
  display: flex;
  flex-direction: row;
  width: fit-content;
  opacity:1;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
  overflow: hidden;
}

.cardWrapper:hover {
  scale: 1;
  backdrop-filter: blur(12px);
  background: radial-gradient(rgba(0, 166, 255, 0.888)rgba(255, 255, 255, 0.333));
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.cardWrapper img {
  height: auto;
  width: calc(40vh * 16/9) !important;
  /* width: calc(27vh * (16 / 9)); */
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem  ;
  transition: all ease-in-out 0.1s;
}
.cardWrapper:hover img {
  transform: scale(1.01);
}
.cardContent{
  width: calc(40vh * 16/9) !important;
  padding: 0.5vh 2vh;
}

.cardWrapperHeading {
  font-size: 1.5rem;
  text-shadow: rgba(255, 255, 255, 0.651) 0px 0px 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.cardWrapperDescription {
  font-size: 1rem;
  padding: 0 1vw 1vh 0;
}

.tagsInfo{
  background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(27px);
  border-radius: 18px; 
  padding: 0.5rem 0.8rem; 
  width: fit-content;
  font-size: 0.9rem;
  text-transform: capitalize;
}


  @media only screen and (max-width: 800px) {
    .cardWrapper {
    
      flex-direction: column;
      padding-bottom: 1.5vh;
     
    }

    .cardWrapper img {
      height: auto;
      width: 100%;
      
    }

    .cardContent{
      width: 100%;
      padding: 0.2vh 1vh;
    }
    
    
.cardWrapperHeading {
  font-size: 2.8vh;
}

.cardWrapperDescription {
  font-size: 2vh;
}

.tagsInfo{
  font-size: 1rem;
}


  }

  