
.cardWrapper {
  background: linear-gradient(#ffffff11, rgba(255, 255, 255, 0.03));
  backdrop-filter: blur(5px);
  margin: 1.2vh;
  display: flex;
  flex-direction: row;
  width: fit-content;
  opacity: 0.95;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border-radius: 0.5rem;
}

.cardWrapper:hover {
  scale: 1;
  backdrop-filter: blur(12px);
  background: radial-gradient(rgba(0, 166, 255, 0.888)rgba(255, 255, 255, 0.333));
}

.cardWrapper img {
  height: 50vh;
  aspect-ratio: 16 / 9 !important; 
  /* width: calc(27vh * (16 / 9)); */
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem  0 0 0.5rem;
}

.cardContent{
  width: 40vw;
  padding: 0.5vh 2vh;
}

.cardWrapperHeading {
  font-size: 3.4vh;
  font-weight: 800;
  padding: 1.5vh 0 0.8vh 0;
}

.cardWrapperDescription {
  font-size: 2.4vh;
  padding: 0 1vw 1vh 0;
  line-height: 3.4vh;
  font-weight: 500;
}

.tagsInfo{
  background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(27px);
  border-radius: 18px; 
  padding: 0.5rem 0.8rem; 
  width: fit-content;
  font-size: 0.9rem;
  text-transform: capitalize;
}


  @media only screen and (max-width: 800px) {


    .cardWrapper {
      margin: 1vh;
      width: calc(24vh * (16 / 9));
    }
  
    .cardWrapper img {
      height: 24vh;
      width: calc(24vh * (16 / 9));
    }
  
    .cardWrapperDescription {
      font-size: 2vh;
      padding: 0 2vw 2vh 2vw;
      line-height: 3vh;
    }
  }

  