@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Armata&family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.438); 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7); 
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mohave", sans-serif;
  font-family: "Armata", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

main{
  max-width: 1920px;
  margin: 100vh auto 0 auto; 
  padding: 0 0rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  padding: 1vh;
  font-size: 1px;
 text-transform: uppercase;
 color: #ffffff;

}

.button:hover {
  border-color: #666666;
  background: #292929;
}

.animate-marquee {
  display: flex;
  width: calc(100% * 4); 
  animation: marquee 35s linear infinite;
}