@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mohave", sans-serif;
}

main{
  max-width: 1920px;
  margin: 100vh auto 0 auto; /* Centers the main content */
  padding: 0 1rem; /* Optional padding to avoid content touching the edges */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
