@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mohave", sans-serif;
}

main{
  max-width: 1920px;
  margin: 100vh auto 0 auto; 
  padding: 0 0rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  padding: 1vh;
  font-size: 1px;
 text-transform: uppercase;
 color: #ffffff;

}

.button:hover {
  border-color: #666666;
  background: #292929;
}
