.wrapContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0 14%;
  padding-top: 6vh;
  align-items: center;
}

.heading{
  color: #a6a6a6;
  color: #f5f5f592;
    /* -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.868); */
    font-size:1.6rem;
    /* text-transform: capitalize; */
    /* line-height: 2.2rem; */
}

.heading span{
  color: #ffffffb4;
  /* text-transform: capitalize; */
  font-size: 1.6rem;
  text-shadow: rgba(255, 255, 255, 0.651) 0px 0px 2px;
 
}

.sv{
  color: #0095ff !important;
  /* text-transform: uppercase; */
  text-shadow: rgba(255, 255, 255, 0.651) 0px 0px 0px !important;
  cursor: pointer;
}



.skills{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
  padding-top: 4vh;
}

.skillImage{
  border-radius: 0.4rem;
}




@media only screen and (max-width: 800px) {
 
  .wrapContainer{
  
    padding: 0 4.5vw;
    padding-top: 6vh;
    align-items: center;
    padding-bottom: 4vh;
  }

  .heading{
      font-size: 1.2rem;
  }
  
  
.heading span{
  font-size: 1.4rem;
}

.skills{
  padding-top: 2vh;
  width: 100%;
  flex-wrap: wrap;
}

.skillImage{
  height: 5vh;
  width: 5vh;
}


}