.spline{
  position: fixed;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollIcon{
	position: absolute;
  display: flex;
  justify-content: center;
  top: 90vh;
  padding: 0;
  height: fit-content;
  z-index: 2;
  transition: all 5s ease-in;
}

.mouse {
	width: 2.5rem;
	height: 3.2rem;
	border: 3px solid #ffffff;
	border-radius: 30px;
	position: relative;
  transform: scale(0.6);
}

.mouse::before {
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

.hidden{
	display: none;
	visibility: hidden;
}


.socialMedia{
  display: flex;
  width: 100%;
  padding: 0 1.5rem;
position: fixed;
z-index: 2;
top: 92vh;
gap: 1.25rem;
}
.socialIcon{
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}
.socialIcon:hover{
	transform: scale(1.1);
}


@media only screen and (max-width: 800px) {
  .main_container{
    top:6vh;
    width: 88vw;
    margin: 35% 1.5%;
    padding: 2vh;
    font-size: 2.6vh;
    }


    .email{
      font-size: 4vh;
      margin-top: 2vh;
      padding-bottom: 1.5vh;
    }
    

    

}