.contactSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;

  padding: 4vh 8vw;
  align-items: baseline;
  background: linear-gradient(#ffffff11, rgba(255, 255, 255, 0.03));
  backdrop-filter: blur(5px);
}

.heading {
  color: #ffffff;
  text-shadow: rgba(255, 255, 255, 0.651) 0px 0px 2px;
  font-size: 2.2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.subHeading {
  font-size: 1.2rem;
  opacity: 0.9;
}

.socialMediaContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  flex-direction: column;
}

.email {
  font-size: 3.2rem;
  font-weight: 700;
}

.socialMedia {
  display: flex;
  width: fit-content;
  z-index: 2;
  padding-top: 2vh;
  gap: 1.25rem;
}
.socialIcon {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.socialIcon:hover {
  transform: scale(1.1);
}

.footer {
  font-size: 1rem;
  padding-top: 2vh;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .contactSection {
  
    padding: 4vh 6vw;
  }
  .heading {
    font-size: 2rem;
  }
  
  .email {
    font-size: 2.6rem;
  }
  .socialMedia {
    width: 100%;
  }
  .socialIcon {
    height: 4vh;
    width:4vh;
  }
}
