

.certificateSection{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
  padding-top: 0vh;
  padding: 0 8vw;
  align-items: baseline;
gap: 1vw;
}

.certificateImage{
  border-radius: 0.4rem;
  height: auto;
  width: 16vw;
  transition: all 0.2s ease-in;
}

.certificateImage:hover{
  transform: scale(1.02);
}

.certificateTitle{
  font-weight: 600;
  font-size: 1rem;
  width: fit-content;
  width: 16vw;
  padding-top: 0.5vh;
}


@media only screen and (max-width: 800px) {

  .certificateSection{
    padding: 0 2.5vw;
  gap: 3vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  }
  
  .certificateImage{
    width: 42vw;
  }
  .certificateTitle{
    width: 42vw;
  }
  
  

}