.heading{
  color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.932);
    font-size: 3.4rem;
}

.subheading{
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0.9;
  background: -webkit-linear-gradient(45deg,#ffffff, #dfdfdfc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1vh;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-top: 2.5vh;
}

.buttonContainer{
  position: sticky; 
  top: 1vh;
  z-index: 5;
  background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(27px);
  border-radius: 10px; 
  padding: 0.6rem 0.8rem; 
  margin-top: 1.5vh;
  display: flex;
  gap: 0.8rem;
}

.button{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  font-weight: 600;
}
.button:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.buttonActive{
  color: #000000;
  background-color: #ffffff;
  border: 2px solid rgba(102, 0, 255, 0.25);
}
.buttonActive:hover{
  color: #000000;
  background-color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.visible {
  opacity: 1; /* Make it visible */
  transform: translateY(0); /* Reset translate */
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out; /* Smooth transition */
}

.cardWrapper {
  opacity: 0; /* Initially hidden */
  transform: translateY(10px); /* Start from below */
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out; /* Smooth transition */
}


@media only screen and (max-width: 800px) {
 
  .subheading{
   
    font-size: 1.2rem;
    text-align: center;
  
  }
  .buttonContainer{
    top: 7vh;
   
  }
  .container{
    padding-top: 0.5vh;
  }
    

}